@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto;
}

body {
  overflow: auto;
  height: 736px;
  width: 440px;
  background: #AAB396; 
  margin: auto;
  justify-content: center;
  border: #F7EED3;
  color: whitesmoke;
}